/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para pantallas grandes (computadoras) */
  @media (min-width: 768px) {
    header {
      background-color: lightblue;
      padding: 20px;
    }
    
    nav ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 10px 0;
      background-color: lightgray;
    }
    
    nav a {
      text-decoration: none;
      color: black;
    }
    
    section {
      padding: 20px;
    }
    
    footer {
      background-color: lightgray;
      padding: 10px;
      text-align: center;
    }
  }
  
  @media (max-width: 390px) {
    header {
      background-color: lightblue;
      text-align: center;
      padding: 20px;
    }
    

    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 10px 0;
      background-color: lightgray;
    }
    
    section {
      padding: 20px;
      width: 260px;
      text-align: center;
      margin-left: 10%;
    }

    
    footer {
      background-color: lightgray;
      padding: 10px;
      text-align: center;
    }
  }
  